{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><br><br>
            <form method="POST">
            {% csrf_token %}
                <div class="shadow card"><br>
                    <div class="card-body">
                    <h3 class="card-title">Are you sure want to delete the Task?</h3><br><br>
                        <button type="submit" class="btn btn-secondary">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}